<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <!-- 设定页面宽度为设备宽度，初始化缩放为 1，最大缩放为 1，禁用用户缩放 -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/iconfont.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" href="../../../resources/statics/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />

    <title>Z-BLOG</title>
</head>
<body class="container text-center d-flex h-100 mx-auto flex-column bg-dark">
<header th:include="fragments::header" class="mb-auto"/>

<main class="align-middle bg-dark">
    <i class="iconfont icon-Z main-icon"></i>
</main>

<footer th:include="fragments::footer" class="mt-auto"/>
</body>
</html>